
.SSUI-PlayerDetais {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: row;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.SSUI-PlayerDetais-Bio {
    width: 50%;
    display: flex;
    flex-flow: column;
    padding: 0 3px;
}

.SSUI-PlayerDetais-Bio-Image {
    padding: 10px;
    width: 100px;
    height: auto;
}


.SSUI-PlayerDetais-Bio-NameRow {
    font-size: 1.5em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #ccc;
    color: black;
    padding: 7px;
}

.SSUI-PlayerDetais-Bio-NameRow-tShirtNr {
    // font-size: 1.5em;
    background-color: black;
    color: white;
    padding: 0 4px;
}

.SSUI-PlayerDetais-Bio-Row {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    padding: 5px;
}

.SSUI-PlayerDetais-Bio-Label {
    // display: flex;
    // display: inline-block;
}



.SSUI-PlayerDetais-Stats {
    width: 50%;
    display: flex;
    flex-flow: column;
    margin-top: 2em;
    // justify-content: center;
}

.SSUI-PlayerDetais-Stats-Row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    padding: 5px 8px;
    box-shadow: 0 0 15px rgba(0,0,0,1);

    &:nth-of-type(2n) {
        background-color: #454B63;
    }

    &:nth-of-type(2n + 1) {
        background-color: #383B4C;

    }

}
