body {
    font-family: helvetica;
    /*font-family:  serif;*/
    font-size: 14px;
    background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #4b6cb7 10%, #182848 90%);


    /* W3C */
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* W3C */
}

.score-box {
    box-shadow: 0px 1px 10px black;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 5px;
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 1%, rgba(255, 255, 255, 0.15) 15%);
}
.team {
    text-align: center;
}
.img-holder {
    padding: 10px 0;
}
.team > span {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 0;
}
.info {
    text-align: center;
}
.score {
    text-align: center;
    padding: 10px 0;
    font-size: 3rem;
}
.score > span {
    padding: 0 10px;
}
.time {
    text-align: center;
}
.time > span {
    width: 100%;
    font-size: 1.5rem;
    color: #007fff;
    color: yellow;
    font-weight: bold;
    padding-top: 35px;
}
.progress {
    width: 54%;
    background-color: black;
}
.details {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1rem;
    text-align: center;
    color: white;
}
.details > .row {
    padding: 6px 0 4px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.details img {
    width: 15px;
    height: 15px;
}
.left-details {
    text-align: right;
}
.center-details {
    text-align: center;
    font-size: 1.3rem;
}
.right-details {
    text-align: left;
}
.details-row {

}

.teams-details {
    color: white;
    padding-top: 30px;
    font-size: 1rem;
    /*box-shadow: 0px 1px 10px black;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 5px;
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 1%, rgba(255, 255, 255, 0.15) 15%);*/
}

#svg-field {
    width: 97%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transform: perspective( 400px ) rotateX(45deg);
}

#svg-names {
    position: absolute;
    left: 0;
    font-size: 3rem;

    /*transform-style: preserve-3d;
    perspective-origin: 0% 0%;
    transform-origin: 50% 50%;*/
    /*transform:   perspective( 400px ) rotateX(45deg);*/
}

image {
    position: absolute;
    display: block;
    /*transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;*/
    /*transform: perspective( 400px ) rotate(2deg);*/
    /*transform: perspective( 400px ) rotateX(-45deg);*/
    /*transform:perspective( 400px ) rotateX(-10deg) rotateY(0deg) rotateZ(20deg); */
    /*transform: rotate(15deg) translate(250px, 50px);*/
    /*translate(50%, 100%);*/
    /*transform: perspective(400px) skewX(5deg) skewY(2deg) rotate(0deg);*/
}


@media (max-width: 640px) {
    .left-details {
        text-align: left;
    }
    .center-details {
        text-align: center;
        font-size: 1.3rem;
    }
    .right-details {
        text-align: right;
    }
}
@media (max-width: 480px) {
    .left-details {
        text-align: left;
    }
    .center-details {
        text-align: center;
        font-size: 1.3rem;
    }
    .right-details {
        text-align: right;
    }
    .img-holder img {
        display: none;
    }
}
