

.SSUI-LiveEvents {
    width: 100%;
    box-sizing: border-box;
}

.SSUI-LiveEvents-Header {
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
}

.SSUI-LiveEvents-Header-Home {
    width: 40%;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.SSUI-LiveEvents-Header-Data {
    width: 20%;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.SSUI-LiveEvents-Header-Data-Score {
    font-size: 3em;
    text-align: center;
}

.SSUI-LiveEvents-Header-Data-Time {
    font-size: 2em;
    text-align: center;
}

.SSUI-LiveEvents-Header-Away {
    width: 40%;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.SSUI-LiveEvents-Header-Logo {
    width: 20%;
    height: auto;
    margin: 0;
    align-self: center;
}

.SSUI-LiveEvents-Header-Text {
    margin: 0;
    font-size: 2em;
}

.SSUI-LiveEvents-List {
    margin-top: 1em;
    padding: 0 0.5em;
}

.SSUI-LiveEvents-List-ExpandCollapse {
    position: absolute;
    right: 0;
    top: 0;
    background: orange;
    color: white;
    display: block;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 17px;
    font-weight: bold;
}
.SSUI-LiveEvents-List-ExpandCollapse:hover {
    cursor: pointer;
}
