
$textColor: rgba(255,255,255,1);

.SSUI-LiveEvent {
    width: 100%;
    min-height: 50px;
    display: block;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    padding: 5px;
}

.SSUI-LiveEvent-Home {
    width: 40%;
    flex-grow: 1;
    display: block;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.SSUI-LiveEvent-Logo {
    width: calc(20%/3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    text-align: center;

    img {
        width: 30px;
        height: auto;
        align-self: center;
    }
}

.SSUI-LiveEvent-Time {
    width: calc(20%/3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    font-size: 1.2em;
    vertical-align: middle;

    span {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 3px;
        padding: 2px 5px;
        color: black;
        align-self: center;
    }
}

.SSUI-LiveEvent-Away {
    width: 40%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.SSUI-LiveEvent-Text {
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

.SSUI-LiveEvent-Text-Button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 1.25em;
    cursor: pointer;
    padding: 0;
    color: $textColor;
}

.SSUI-LiveEvent-Text-Button:hover {
    // border-bottom: solid 1px #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0px 5px;
}
