@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Play);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

$fontFamily: 'Droid Sans', sans-serif;
$fontFamily: 'Play', sans-serif;
$fontFamily: 'Oswald', sans-serif;
$fontFamily: 'Abel', sans-serif;
$fontFamily: 'Quicksand', sans-serif;
$fontFamily: 'Pathway Gothic One', sans-serif;
$fontFamily: 'Pontano Sans', sans-serif; //good

$fontSize: 14px;
$themeColor: #364049;
// $themeColor: #66627C;
// background-color: #364049; // TODO bun
// background-color: #A69272;

* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: $themeColor;
    background-color: #364049;
    font-size: $fontSize;
}


@media screen and (max-width: 500px) {

}

@media screen and (max-width: 1500px) {
    body {
        font-size: $fontSize - 2;
    }
}
